

*{
    margin: 0;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: mukta;
}
body{
    position: relative;
    overflow: display; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(240, 95%, 8%);
}
.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color:whitesmoke;
    text-align: center;
    font-size: 12vw;
    line-height: 0.6em;
    z-index: 1000;
    font-weight: 550;
}
h2 span{
    font-size: 0.2em;
    letter-spacing: 0.4em;
    font-weight: 400;
    text-transform: uppercase;
}

.block{
    position: absolute;
    height: 100px;
    width: 50px;
    box-shadow: black;
    background-color:   hsl(240, 43%, 13%);
}
